<%= link_to "/favorites/#{@micropost.id}/create",
            method: :post,
            class: 'like',
            remote: true do %>
  <div class="like-btn-like"><i class="fa fa-heart"></i></div>
<% end %>