<%= link_to "/favorites/#{@micropost.id}/destroy",
            method: :delete,
            class: 'unlike',
            remote: true do %>
  <div class="like-btn-unlike"><i class="fa fa-heart"></i></div>
<% end %>