<%= render 'layouts/header' %>
<section class="user-index">
	<div class="main">
		<% provide(:title, 'ユーザー一覧') %>
		<%= will_paginate %>
		<ul class="users">
			<%= render @users %>
		</ul>
		<%= will_paginate %>
	</div>
</section>
