<% @user ||= current_user %>
  <a href="<%= following_user_path(@user) %>">
    フォロー <strong id="following" class="stat"><%= @user.following.count %></strong>人
  </a>
  <a href="<%= followers_user_path(@user) %>">
    フォロワー <strong id="followers" class="stat"><%= @user.followers.count %></strong>人
  </a>
