/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */

/* # =================================================================
   # Global selectors
   # ================================================================= */

   

   html {
    box-sizing: border-box;
    overflow-y: scroll; /* All browsers without overlaying scrollbars */
    -webkit-text-size-adjust: 100%; /* iOS 8+ */
  }
  
  *,
  ::before,
  ::after {
    background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
    box-sizing: inherit;
  }
  
  ::before,
  ::after {
    text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
    vertical-align: inherit;
  }
  
  * {
    padding: 0; /* Reset `padding` and `margin` of all elements */
    margin: 0;
  }
  
  /* # =================================================================
     # General elements
     # ================================================================= */
  
  /* Add the correct display in iOS 4-7.*/
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  hr {
    overflow: visible; /* Show the overflow in Edge and IE */
  }
  
  /*
  * Correct `block` display not defined for any HTML5 element in IE 8/9
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox
  * Correct `block` display not defined for `main` in IE 11
  */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  
  summary {
    display: list-item; /* Add the correct display in all browsers */
  }
  
  small {
    font-size: 80%; /* Set font-size to 80% in `small` elements */
  }
  
  [hidden],
  template {
    display: none; /* Add the correct display in IE */
  }
  
  abbr[title] {
    border-bottom: 1px dotted; /* Add a bordered underline effect in all browsers */
    text-decoration: none; /* Remove text decoration in Firefox 40+ */
  }
  
  a {
    background-color: transparent; /* Remove the gray background on active links in IE 10 */
    -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
  }
  
  a:active,
  a:hover {
    outline-width: 0; /* Remove the outline when hovering in all browsers */
  }
  
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace; /* Specify the font family of code elements */
  }
  
  b,
  strong {
    font-weight: bolder; /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
  }
  
  dfn {
    font-style: italic; /* Address styling not present in Safari and Chrome */
  }
  
  /* Address styling not present in IE 8/9 */
  mark {
    background-color: #ff0;
    color: #000;
  }
  
  /* https://gist.github.com/unruthless/413930 */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* # =================================================================
     # Forms
     # ================================================================= */
  
  input {
    border-radius: 0;
  }
  
  /* Apply cursor pointer to button elements */
  button,
  [type="button"],
  [type="reset"],
  [type="submit"],
  [role="button"] {
    cursor: pointer;
  }
  
  /* Replace pointer cursor in disabled elements */
  [disabled] {
    cursor: default;
  }
  
  [type="number"] {
    width: auto; /* Firefox 36+ */
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* Safari 8+ */
  }
  
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; /* Safari 8 */
  }
  
  textarea {
    overflow: auto; /* Internet Explorer 11+ */
    resize: vertical; /* Specify textarea resizability */
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font: inherit; /* Specify font inheritance of form elements */
  }
  
  optgroup {
    font-weight: bold; /* Restore the font weight unset by the previous rule. */
  }
  
  button {
    overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
  }
  
  /* Remove inner padding and border in Firefox 4+ */
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: 0;
    padding: 0;
  }
  
  /* Replace focus style removed in the border reset above */
  button:-moz-focusring,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    outline: 1px dotted ButtonText;
  }
  
  button,
  html [type="button"], /* Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
  }
  
  button,
  select {
    text-transform: none; /* Firefox 40+, Internet Explorer 11- */
  }
  
  /* Remove the default button styling in all browsers */
  button,
  input,
  select,
  textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
  }
  
  /* Style select like a standard input */
  select {
    -moz-appearance: none; /* Firefox 36+ */
    -webkit-appearance: none; /* Chrome 41+ */
  }
  
  select::-ms-expand {
    display: none; /* Internet Explorer 11+ */
  }
  
  select::-ms-value {
    color: currentColor; /* Internet Explorer 11+ */
  }
  
  legend {
    border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
    color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
    display: table; /* Correct the text wrapping in Edge and IE */
    max-width: 100%; /* Correct the text wrapping in Edge and IE */
    white-space: normal; /* Correct the text wrapping in Edge and IE */
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari */
    font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
    outline-offset: -2px; /* Correct the outline style in Safari */
  }
  
  /* # =================================================================
     # Specify media element style
     # ================================================================= */
  
  img {
    border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
  }
  
  /* Add the correct vertical alignment in Chrome, Firefox, and Opera */
  progress {
    vertical-align: baseline;
  }
  
  svg:not(:root) {
    overflow: hidden; /* Internet Explorer 11- */
  }
  
  audio,
  canvas,
  progress,
  video {
    display: inline-block; /* Internet Explorer 11+, Windows Phone 8.1+ */
  }
  
  /* # =================================================================
     # Accessibility
     # ================================================================= */
  
  /* Hide content from screens but not screenreaders */
  @media screen {
    [hidden~="screen"] {
      display: inherit;
    }
    [hidden~="screen"]:not(:active):not(:focus):not(:target) {
      position: absolute !important;
      clip: rect(0 0 0 0) !important;
    }
  }
  
  /* Specify the progress cursor of updating elements */
  [aria-busy="true"] {
    cursor: progress;
  }
  
  /* Specify the pointer cursor of trigger elements */
  [aria-controls] {
    cursor: pointer;
  }
  
  /* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
  [aria-disabled] {
    cursor: default;
  }
  
  /* # =================================================================
     # Selection
     # ================================================================= */
  
  /* Specify text selection background color and omit drop shadow */
  
  ::-moz-selection {
    background-color: #b3d4fc; /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
  }
  
  ::selection {
    background-color: #b3d4fc; /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
  }

  a{
    text-decoration: none;
  }





  /*--------------リセットcss-----------------*/


  


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    transition: .2s;
    :hover{
        opacity: 0.7;
        
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

li {
  list-style-type: none;
}

.section-title {
  font-size: 36px;
}

form {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  .form-control {
    border-radius: none;
  }
}

.pagination {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  margin-left: 15px;
}

.main {
  width: 750px;
  margin: 0 auto;
  margin-top: 130px;
    form {
      @import "bootstrap-sprockets";
      @import "bootstrap";
      margin: 0 auto;
    }
}


/* static_page#home*/

.static-page {
    width: 100%;
    height: 100%;
}

.static-page_home {
  font-family: ヒラギノ明朝 ProN;
  background-color: #222224;
  color: #fff;
}

.second-title {
    font-size: 32px;
    text-align: center;
    padding-top: 150px;
}

.main_title {
    font-size: 60px;
    text-align: center;
    padding: 60px;
    a{
        color: #fff;
    }
}

.about {
    text-align: center;
    font-size: 24px;
    padding-bottom: 70px;
}

.sign-up {
    text-align: center;
    padding-bottom: 50px;
    a{  
        background-color:  rgba(250, 250, 250, 0.42);  
        border-radius: 50px;
        padding: 15px 35px;
        color: #fff;   
        margin-bottom: 30px;
    }
    :hover{
        background-color:  rgba(250, 250, 250, 0.658);  
    }
}

.sign-in {
  text-align: center;
  padding-bottom: 210px;
  a {
      background-color:  rgba(250, 250, 250, 0.42);  
      border-radius: 50px;
      padding: 15px 52px;
      color: #fff;   
  }
  :hover{
    background-color:  rgba(250, 250, 250, 0.658);  
}
}

.home-micropost {
  width: 750px;
  height: 100vh;
  margin: 0 auto;
  margin-top: 130px;
}


/*----------users#new-------------*/
.signup {
  .login_message {
    width: 100%;
    margin-top: 30px;
    a {
      text-decoration: underline;
    }
  }

  .btn_create {
    color: #2655AD;
  }
  
}

.section-title {
  text-align: center;
  margin-top: 40px;

}

.row {
  text-align: center;
}

.signup_form {
  
}

::placeholder{
  color: #a6a6a7;
}

.text {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  width: 400px;
  height: 35px;
  margin: 40px auto;
  input {
    width: 400px;
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.text-area {
  width: 400px;
  border: 1px solid #78787b; 
  margin: 40px auto;
}


.signup,
.login,
.password-reset {
  .btn_create {
    width: 180px;
    color: #2655AD;
    border: 1px solid #2655AD;
    border-radius: 40px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 8px;
  }
}

.signup_message {
  width: 100%;
  margin-top: 30px;
  a {
    text-decoration: underline;
  }
}


/*-----------header--------------*/

.navbar {
  width: 100%;
  height: 70px;
  background-color: #000;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
}

.header_nav {
  width: 100%;
  line-height: 70px;
  display: flex;
  align-items: center;
  nav {
    margin-left: auto;
  }
}

.header-title {
    font-size: 32px;
    color: #fff;
}



.navbar-right {
  display: flex;
  li {
    a {
      color: #919193;
    }     
    }
}

/*-------header-bottom------*/
.header-bottom-nav {
  height: 30px;
  line-height: 30px;
  background-color: #78787b;
}

.header-bottom-items {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

.header-bottom-item {
  display: table-cell;
  width: 210px;
  min-width: 50px;
  border-right: 1px solid #ccc;
  &:first-child{
    border-left: 1px solid #ccc;
  }
  :hover {
    background-color: #c8c8cb;
  }

  a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
  }
}
  


/*--------users.show.html.erb--------*/

.alert, 
.alert-success {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  margin-top: 100px;
}

.profile-inner {
  display: flex;
}

.gravatar {
  width: 120px;
  height: 120px;
}

.user-image {
  width: 120px;
  height: 120px;
  
}

.user-position {
  width: 180px;
  font-size: 24px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 40px;
}


.detail {
  display: flex;
  width: 750px;
  height: 40px;
  height: 28px;
  line-height: 28px;
  margin-top: -40px;
}

.detail-name {
  justify-content: space-between;
  width: 390px;
  height: 40px;
}



.user-name {
  width: 280px;
  font-size: 24px;
  margin-left: 30px;
}

.user-edit {
  width: 150px;
  height: 32px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 30px;
  border: 1px solid #78787b;
  text-align: center;
  line-height: 32px;
  position: relative;
  margin-left: auto;


  a {
   color: #78787b;
   position: absolute;
   font-size: 14px;
   top:0;
   left:0;
   right: 0;
  }
}

.detail-introduction {
  width: 720px;
  height: 100;
  margin: 0 auto;
  margin-top: 25px;
}

#follow_form {
  margin-left: auto;
}

.follow-count {
  width: 600px;
  margin: 0 auto;
  display: flex;
}

.follow {
  width: 180px;
  display: flex;
  margin-left: 100px;
}

.follower {
  width: 180px;
  display: flex;
}

.show-micropost {
  width: 750px;
  height: 100vh;
  margin: 0 auto;
  margin-top: 35px;
}

.show-micropost-button {
  display: flex;
}

.micropost_show_footer {
  display: flex;
}

.show-micropost-button-user,
.show-micropost-button-favorite {
  width: 475px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  :hover {
    background-color: #c8c8cb;
  }
  a {
    display: block;
    text-decoration: none;
    color: #000;
  }
}

#favorite-300 {
  a {
    margin-left: auto;
  }
}

.micropost_show_delete {
  margin-left: auto;
}


// お気に入り
.like-btn-unlike {
  color: red;
  margin-left: 60px;
}
.like-btn-like {
  color: grey;
  margin-left: 60px;
}


/* -----------error_message------ */
#error_explanation {

}


 input:required {
    border: 1px solid red;
   }
  


.alert-danger {
  color: red;
  text-align: center;
}

.error_message {
  color: red;
  text-align: center;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    border-radius: 0;
    border: 3px solid #a94442;
  }
}

/*----------stats-----------*/
.stats {
  width: 350px;
  margin-left: 150px;
  a {
    color: #000;
    text-decoration: none;
    &:last-child {
      margin-left: 15px;
    }
  }
}


/*-----sessions.new.html.erb-------*/
.login {

  .password_reset {
    margin-top: 15px;
    a {
      text-decoration: underline;
    }
  }
}



.alert, 
.alert-danger {
  @import "bootstrap-sprockets";
  @import "bootstrap";
}

.checkbox {
  display: flex;
  height: 35px;
  line-height: 35px;
  width: 215px;
  margin: 0 auto;
  span {
    margin-left: 15px;
  }
}

#session_remember_me {
  width: auto;
}


/* -----------users/edit------------ */
.edit-inner {
  width: 400px;
  margin: 0 auto;
}

.gravatar_edit {
  height: 50px;
  margin-top: 28px;
  a {
    display: block;
    color: #78787b;
    height: 50px;
  }
  .gravatar {
    width: 50px;
    height: 50px;
  }
}

/*------_user.html.erb------*/
.users {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  list-style: none;
  width: 720px;
  margin-top: 20px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #ededef;
    img {  
      margin-left: 15px;
        width: 60px;
        height: 60px;
    }
    a {
      margin-left: 20px;
      align-items: center;
    }
  }
 }

 /* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    text-align: left;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    text-align: start;
    display: block;
    margin-left: 100px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #d3d3d7;
    display: block;
    margin-left: 15px;
    text-align: right;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    width: 60px;
    height: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

._micropost_html_footer {
  display: flex;
  margin-left: 100px;
   // お気に入り
    .like-btn-unlike {
      color: red;
      margin-left: 60px;
      z-index: 3;
    }
    .like-btn-like {
      color: grey;
      margin-left: 60px;
      z-index: 3;
    }
}

/*----------modal-----------*/
.modal-contact {
  display: none;
}


/*----------_micropost.html-----------*/
.microposts {
  li {
    position: relative;
  }

  .gravatar {
    position: relative;
    z-index: 2;
  }

  .user {
    position: relative;
      z-index: 2;
  }

  .content {
    z-index: 1;
    a {
      color: #000;
      text-decoration: none;
     
    }
  
    
  }

  img {
    position: relative;
    z-index: 2;
  }
  
}

/*----------microposts/new-----------*/


.micropost_new {
   margin: 0 auto;

  .main {
    width: 810px;
  }

  .gravatar {
    width: 70px;
    height: 70px;
    margin-left: 0;
  }
  
  a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    font-size: 22px;
  }

  input[type="file"] {
    margin-top: 30px;
  }

  input[type="submit"] {
    -webkit-appearance: none;
    margin-top: 20px;
    width: 110px;
    height: 40px;
    font-size: 18px;
  }
}

.micropost_form {
  width: 65%;
  margin: 0 auto;
  .field {
    textarea[id="micropost_content"] {
      height: 130px;
      font-size: 18px;
    }
  }
  
}


/*----------microposts/show-----------*/

.micropost_show {
  width: 750px;
  padding: 15px 10px 30px 10px;
  border-top: 1px solid #d3d3d7;
  border-bottom: 1px solid #d3d3d7;
  .gravatar {
    width: 60px;
    height: 60px;
    margin-left: 0;
  }

  .timestamp {
    color: #d3d3d7;
    display: block;
    margin-left: auto;
    text-align: right;
  }
}

.micropost_show_user_profiel {
  display: flex;
  height: 60px;
}

.micropost_show_user_name {
  margin-left: 10px;
  height: 60px;
}

.micropost_show_user_content {
  margin-left: 60px;
}

.micropost_show_delete {
    text-align: end;
    margin-right: 30px;
    a {
      color: #76a0a8;
    }
}

.micropost_content {
  margin-left: 8px;
  margin-top: -30px;
}

.user_info {
  display: flex;
  width: 280px;
  height: 70px;
  margin-left: 30px;
}

/*---show_follow.html-----*/

.follow-title {
  display: flex;
}

.following-title {
  width: 475px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-top: 85px;
  
  :hover {
    background-color: #c8c8cb;
  }
  a {
    display: block;
    text-decoration: none;
    color: #000;
  }
}

.follower-title {
  width: 475px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-top: 85px;
  :hover {
    background-color: #c8c8cb;
  }
  a {
    display: block;
    text-decoration: none;
    color: #000;
  }
}

.show_follow_profile {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  width: 750px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  background-color: #fff;
  z-index: 800;
  padding-top: 20px;
  margin-top: -30px;
}



.show_follow_profile_name {
  height: 60px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;

  .show_follow_profile_name_followers {
    margin-top: -40px;
  }
  a {
    color: #000;
    font-size: 24px;
    text-decoration: none;
  }
  p {
    color: #919193;
    height: 30px;
  }
}

.micropost-comment {

  .micropost_show {
    margin-top: 0;
    border-top: none;
  }
  img {
    width: 20px;
    height: 20px;
  }
}


/*---comment---*/

.comment-new {

  form {
    margin-top: 60px;
  }
}

.form-group {
    .form-control {
      width: 400px;
      height: 200px;
    }
}

.micropost_show_comment {
  .micropost_content {
    margin-left: 70px;
  }
}

/*--drawer--*/
.drawer-icon {
  position: fixed;
  top: 35px;
  right: 50px;
  z-index: 300;
  display: none;
  transition: transform 0.5s ease 0s;
  z-index: 999;

  @media only screen and (max-width: 768px) {
    display: block;
  }

  &.is-active {
  transform: translateX(-300px);

    .drawer-icon_bar1 {
      transform: rotate(-45deg);
      top: 13px;
    }
    
    .drawer-icon_bar2 {
      display: none;
    }
    
    .drawer-icon_bar3 {
      transform: rotate(45deg);
      top: 13px;
    }
  }
}

.drawer-icon_bars {
  width: 40px;
  height: 38px;
  display: block;
  position: relative;
}

.drawer-icon_bar1,
.drawer-icon_bar2,
.drawer-icon_bar3 {
  position: absolute;
  width: 40px;
  height: 6px;
  background: white;
  top: 0;
  left: 0;
}

.drawer-icon_bar1 {
  top: 0px;
}

.drawer-icon_bar2 {
  top: 14px;
}

.drawer-icon_bar3 {
  top: 28px;
}

.drawer-content {
  width: 300px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  box-shadow: 0 0 3px rgba(#000, 0.16);
  z-index: 999;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
  &.is-active {
    transform: translateX(0);
  }
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.8);
  z-index: 298;
  display: none;
  &.is-active {
    display: block;
  }
}

.drawer-content_item {
  font-size: 24px;
  border-bottom: 1px dotted #707070;
  a {
    display: block;
    color: #707070;
    text-decoration: none;
    padding: 18px 20px;
  }
}


/*----------------------
　タブレット用css
-------------------------*/
@media only screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }

  .main {
    width: 810px;
  }

  #logo {
    margin-left: 45px;
  }

  .navbar-right {
    display: none;
  }

  .header-bottom-nav {
    display: none;
  }
  /*--staticpage/home--*/
  .static-page {
   .main-topic {
     width: 100%;
     font-size: 20px;
   }

   .home-micropost {
    height: 100vh;
    margin: 0 auto;
    margin-top: 130px;
   }

    .microposts {
      width: 90%;
      margin-left: 40px;

    }

    .show-micropost{
      margin-left: none;
    }

    .show-micropost-button {
      margin-bottom: 10px;
      padding: 10px 0;
    }

    li {
      padding: 20px 0;
    }
  }




  /*--header--*/
  .navbar {
    height: 100px;
  }

  .header_nav {
    line-height: 100px;
  }

  .header_nav {
    .header-title {
      margin-left: 20px;
    }

    .logout {
      margin-right: 20px;
    }
  }

  .side {
      display: none;
  }


  /*----user/show---*/
  .profile {
    width: 700px;
    margin: 0 auto;
  }

  .show-micropost {
    width: 700px;
  }

  .detail {
    display: flex;
  }
  
  .user-edit {
    margin-left: 60px;
  }

  #follow_form {
    margin-left: 60px;
  }
}



/*----------------------
　スマホ用css
-------------------------*/
@media only screen and (max-width: 500px) {
  body {
    font-size: 32px;
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .main {
    margin-top: 150px;
  }

  /*-----------header--------------*/
  .navbar {
    height: 120px;
  }

  .header_nav {
    line-height: 120px;
  }

  .header-title {
    font-size: 40px;
  }

  .drawer-icon {
    margin-top: 10px;
  }

  .drawer-content_item {
    height: 90px;
    font-size: 30px;
    a {
      padding: 23px 20px;
    }
  }
  /*---------home---------*/
  .micropost-comment {
    img {
      width: 32px;
      height: 32px;
    }
  }


  /*------user/show---------*/
  .user-name {
    font-size: 34px;
  }

  .detail {
    display: block;
  }

  .stats {
    margin: 0;
    margin-left: 150px;
    width: 500px;
  }

  .user-edit {
    display: block;
    margin: 0;
    width: 300px;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    margin-top: 35px;
    a {
      font-size: 30px;
    }
  }

  #follow_form {
    margin-left: 0;
    margin-top: 35px;
    height: 50px;
    line-height: 50px;
    input {
      width: 220px;
      font-size: 30px;
    }
  }


  .detail-introduction {
    margin-top: 100px;
    width: 100%;
  }

  .show-micropost {
    margin-top: 35px;
  }


  .show-micropost-button {
    margin: 10px 0;
    padding: 7px 0;
  }


  /*------micropost/new------*/

  .micropost_form {
    width: 80%;
  }

}
