/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */

/* # =================================================================
   # Global selectors
   # ================================================================= */

   

   html {
    box-sizing: border-box;
    overflow-y: scroll; /* All browsers without overlaying scrollbars */
    -webkit-text-size-adjust: 100%; /* iOS 8+ */
  }
  
  *,
  ::before,
  ::after {
    background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
    box-sizing: inherit;
  }
  
  ::before,
  ::after {
    text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
    vertical-align: inherit;
  }
  
  * {
    padding: 0; /* Reset `padding` and `margin` of all elements */
    margin: 0;
  }
  
  /* # =================================================================
     # General elements
     # ================================================================= */
  
  /* Add the correct display in iOS 4-7.*/
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  hr {
    overflow: visible; /* Show the overflow in Edge and IE */
  }
  
  /*
  * Correct `block` display not defined for any HTML5 element in IE 8/9
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox
  * Correct `block` display not defined for `main` in IE 11
  */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  
  summary {
    display: list-item; /* Add the correct display in all browsers */
  }
  
  small {
    font-size: 80%; /* Set font-size to 80% in `small` elements */
  }
  
  [hidden],
  template {
    display: none; /* Add the correct display in IE */
  }
  
  abbr[title] {
    border-bottom: 1px dotted; /* Add a bordered underline effect in all browsers */
    text-decoration: none; /* Remove text decoration in Firefox 40+ */
  }
  
  a {
    background-color: transparent; /* Remove the gray background on active links in IE 10 */
    -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
  }
  
  a:active,
  a:hover {
    outline-width: 0; /* Remove the outline when hovering in all browsers */
  }
  
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace; /* Specify the font family of code elements */
  }
  
  b,
  strong {
    font-weight: bolder; /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
  }
  
  dfn {
    font-style: italic; /* Address styling not present in Safari and Chrome */
  }
  
  /* Address styling not present in IE 8/9 */
  mark {
    background-color: #ff0;
    color: #000;
  }
  
  /* https://gist.github.com/unruthless/413930 */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* # =================================================================
     # Forms
     # ================================================================= */
  
  input {
    border-radius: 0;
  }
  
  /* Apply cursor pointer to button elements */
  button,
  [type="button"],
  [type="reset"],
  [type="submit"],
  [role="button"] {
    cursor: pointer;
  }
  
  /* Replace pointer cursor in disabled elements */
  [disabled] {
    cursor: default;
  }
  
  [type="number"] {
    width: auto; /* Firefox 36+ */
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* Safari 8+ */
  }
  
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; /* Safari 8 */
  }
  
  textarea {
    overflow: auto; /* Internet Explorer 11+ */
    resize: vertical; /* Specify textarea resizability */
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font: inherit; /* Specify font inheritance of form elements */
  }
  
  optgroup {
    font-weight: bold; /* Restore the font weight unset by the previous rule. */
  }
  
  button {
    overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
  }
  
  /* Remove inner padding and border in Firefox 4+ */
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: 0;
    padding: 0;
  }
  
  /* Replace focus style removed in the border reset above */
  button:-moz-focusring,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    outline: 1px dotted ButtonText;
  }
  
  button,
  html [type="button"], /* Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
  }
  
  button,
  select {
    text-transform: none; /* Firefox 40+, Internet Explorer 11- */
  }
  
  /* Remove the default button styling in all browsers */
  button,
  input,
  select,
  textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
  }
  
  /* Style select like a standard input */
  select {
    -moz-appearance: none; /* Firefox 36+ */
    -webkit-appearance: none; /* Chrome 41+ */
  }
  
  select::-ms-expand {
    display: none; /* Internet Explorer 11+ */
  }
  
  select::-ms-value {
    color: currentColor; /* Internet Explorer 11+ */
  }
  
  legend {
    border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
    color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
    display: table; /* Correct the text wrapping in Edge and IE */
    max-width: 100%; /* Correct the text wrapping in Edge and IE */
    white-space: normal; /* Correct the text wrapping in Edge and IE */
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari */
    font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
    outline-offset: -2px; /* Correct the outline style in Safari */
  }
  
  /* # =================================================================
     # Specify media element style
     # ================================================================= */
  
  img {
    border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
  }
  
  /* Add the correct vertical alignment in Chrome, Firefox, and Opera */
  progress {
    vertical-align: baseline;
  }
  
  svg:not(:root) {
    overflow: hidden; /* Internet Explorer 11- */
  }
  
  audio,
  canvas,
  progress,
  video {
    display: inline-block; /* Internet Explorer 11+, Windows Phone 8.1+ */
  }
  
  /* # =================================================================
     # Accessibility
     # ================================================================= */
  
  /* Hide content from screens but not screenreaders */
  @media screen {
    [hidden~="screen"] {
      display: inherit;
    }
    [hidden~="screen"]:not(:active):not(:focus):not(:target) {
      position: absolute !important;
      clip: rect(0 0 0 0) !important;
    }
  }
  
  /* Specify the progress cursor of updating elements */
  [aria-busy="true"] {
    cursor: progress;
  }
  
  /* Specify the pointer cursor of trigger elements */
  [aria-controls] {
    cursor: pointer;
  }
  
  /* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
  [aria-disabled] {
    cursor: default;
  }
  
  /* # =================================================================
     # Selection
     # ================================================================= */
  
  /* Specify text selection background color and omit drop shadow */
  
  ::-moz-selection {
    background-color: #b3d4fc; /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
  }
  
  ::selection {
    background-color: #b3d4fc; /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
  }

  a{
    text-decoration: none;
  }





  /*--------------リセットcss-----------------*/


  


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    transition: .2s;
    :hover{
        opacity: 0.7;
        
    }
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
  list-style-type: none;
}

.section-title {
  font-size: 36px;
}

form {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  .form-control {
    border-radius: none;
  }
}

.pagination {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  margin-left: 15px;
}

.main {
  margin-left: 250px;
  .container {
    width: 100%;
    form {
      @import "bootstrap-sprockets";
      @import "bootstrap";
      margin: 0 auto;
    }
  }
}


/* static_page#home*/

.static-page {
    font-family: ヒラギノ明朝 ProN;
    width: 100%;
    height: 100%;
}

.static-page_home {
  background-color: #222224;
  color: #fff;
}

.second-title {
    font-size: 32px;
    text-align: center;
    padding-top: 150px;
}

.main_title {
    font-size: 60px;
    text-align: center;
    padding: 60px;
    a{
        color: #fff;
    }
}

.about {
    text-align: center;
    font-size: 24px;
    padding-bottom: 70px;
}

.sign-up {
    text-align: center;
    padding-bottom: 50px;
    a{  
        background-color:  rgba(250, 250, 250, 0.42);  
        border-radius: 50px;
        padding: 15px 35px;
        color: #fff;   
        margin-bottom: 30px;
    }
    :hover{
        background-color:  rgba(250, 250, 250, 0.658);  
    }
}

.sign-in {
  text-align: center;
  padding-bottom: 210px;
  a {
      background-color:  rgba(250, 250, 250, 0.42);  
      border-radius: 50px;
      padding: 15px 52px;
      color: #fff;   
  }
  :hover{
    background-color:  rgba(250, 250, 250, 0.658);  
}
}


/*----------users#new-------------*/
.signup {
  .container {
    margin: 0 auto;
    
  }

  .login_message {
    width: 100%;
    margin-top: 30px;
    a {
      text-decoration: underline;
    }
  }

  .btn_create {
    color: #2655AD;
  }
  
}

.section-title {
  text-align: center;
  margin-top: 40px;

}

.row {
  text-align: center;
}

.signup_form {
  
}

::placeholder{
  color: #a6a6a7;
}

.text {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  width: 400px;
  height: 35px;
  margin: 40px auto;
  input {
    width: 400px;
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.text-area {
  width: 400px;
  border: 1px solid #78787b; 
  margin: 40px auto;
}


.signup,
.login,
.password-reset {
  .btn_create {
    width: 180px;
    color: #2655AD;
    border: 1px solid #2655AD;
    border-radius: 40px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 8px;
  }
}

.signup_message {
  width: 100%;
  margin-top: 30px;
  a {
    text-decoration: underline;
  }
}


/*-----------header--------------*/

.navbar {
  width: 100%;
  height: 70px;
  background-color: #000;
  position: fixed;
  z-index: 100;
}

.header_nav {
  line-height: 70px;
  display: flex;
  align-items: center;
  nav {
    margin-left: auto;
  }
}

.header-title {
    font-size: 32px;
    color: #fff;
}



.navbar-right {
  display: flex;
  li {
    a {
      color: #919193;
      margin-left: 20px;
    }     
    }
}


  

/*------------サイドバー---------------*/

.main-topic {
  display: flex;
  width: 100%;
  padding-top: 70px;
}

.side {
  width: 20%;
  max-width: 250px;
  background-color: #F9F9FC;
  height: 100vh;
  position: fixed;
  /*padding-bottom: 100000px;
  margin-bottom: 100000px;*/

  nav {
    ul {
      li {
        text-align: center;
        padding: 15px 0;
         &:first-child{
          padding-top: 24px;
          }
          &:last-child {
            background-color: rgb(175, 175, 178);
            margin: 30px auto;
            width: 120px;
            height: 70px;
            border-radius: 50%;
            position: relative;
            
           
            a{
              text-align: center;
              position: absolute;
              top:0;
              left:0;
              width:100%;
              height:100%;
              line-height: 70px;
              color: #000;
            }
          }
      }
      a {
        color: #919193;
        
      }
    }
  }
}

/*--------users.show.html.erb--------*/

.alert, 
.alert-success {
  @import "bootstrap-sprockets";
  @import "bootstrap";
}

.profile {
  display: flex;
  margin-top: 15px;

}

.gravatar {
  width: 180px;
  height: 180px;
  margin-left: 30px;
}

.user-image {
  width: 180px;
  height: 180px;
  
}

.user-position {
  width: 180px;
  font-size: 24px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 40px;
}


.detail {
  width: 600px;
  height: 40px;
  margin-left: 80px;
}

.detail-name {
  justify-content: space-between;
  display: flex;
  width: 600px;
  height: 40px;
}



.user-name {
  font-size: 24px;
}

.user-edit {
  width: 170px;
  height: 30px;
  background-color: #fff;
  margin-top: 4px;
  margin-left: 200px;
  border-radius: 30px;
  border: 1px solid #78787b;
  text-align: center;
  line-height: 30px;
  position: relative;

  a {
   color: #78787b;
   position: absolute;
   top:0;
   left:0;
   right: 0;
  }
}

.detail-introduction {
  width: 600px;
  height: 140px;
  margin: 0 auto;
}

.follow-count {
  width: 600px;
  margin: 0 auto;
  display: flex;
}

.follow {
  width: 180px;
  display: flex;
  margin-left: 100px;
}

.follower {
  width: 180px;
  display: flex;
}

.show-micropost {
  width: 810px;
  height: 100vh;
  margin-top: 70px;
  margin-left: 80px;
}

.micropost_show_footer {
  display: flex;
}

#favorite-300 {
  a {
    margin-left: auto;
  }
}

.micropost_show_delete {
  margin-left: auto;
}

// お気に入り
.like-btn-unlike {
  color: red;
  margin-left: 630px;
}
.like-btn-like {
  color: grey;
  margin-left: 630px;
}


/* -----------error_message------ */
#error_explanation {

}


 input:required {
    border: 1px solid red;
   }
  


.alert-danger {
  color: red;
  text-align: center;
}

.error_message {
  color: red;
  text-align: center;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    border-radius: 0;
    border: 3px solid #a94442;
  }
}

/*----------statsu-----------*/
.stats {
  a {
    color: #000;
    text-decoration: none;
    margin-left: 50px;
  }
}


/*-----sessions.new.html.erb-------*/
.login {

  .password_reset {
    margin-top: 15px;
    a {
      text-decoration: underline;
    }
  }
}



.alert, 
.alert-danger {
  @import "bootstrap-sprockets";
  @import "bootstrap";
}

.checkbox {
  display: flex;
  height: 35px;
  line-height: 35px;
  width: 215px;
  margin: 0 auto;
  span {
    margin-left: 15px;
  }
}

#session_remember_me {
  width: auto;
}


/* -----------users/edit------------ */
.gravatar_edit {
  height: 50px;
  margin-top: 28px;
  a {
    display: block;
    color: #78787b;
    height: 50px;
  }
  .gravatar {
    width: 50px;
    height: 50px;
  }
}

/*------_user.html.erb------*/
.users {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  list-style: none;
  margin-left: 40px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #ededef;
    img {  
      margin-left: 15px;
        width: 60px;
        height: 60px;
    }
    a {
      margin-left: 20px;
      align-items: center;
    }
  }
 }

 /* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    text-align: left;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    text-align: start;
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #d3d3d7;
    display: block;
    margin-left: 15px;
    text-align: right;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    width: 60px;
    height: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

._micropost_html_footer {
  display: flex;
   // お気に入り
    .like-btn-unlike {
      color: red;
      margin-left: 610px;
      z-index: 3;
    }
    .like-btn-like {
      color: grey;
      margin-left: 610px;
      z-index: 3;
    }
}

/*----------modal-----------*/
.modal-contact {
  display: none;
}


/*----------_micropost.html-----------*/
.microposts {
  li {
    position: relative;
  }

  .gravatar {
    position: relative;
    z-index: 2;
  }

  .user {
    position: relative;
      z-index: 2;
  }

  .content {
    z-index: 1;
    a {
      color: #000;
      text-decoration: none;
     
    }
  
    
  }

  img {
    position: relative;
    z-index: 2;
  }
  
}



/*----------microposts/new-----------*/

.micropost_new {
  margin: 0 auto;
  .gravatar {
    width: 70px;
    height: 70px;
    margin-left: 0;
    margin-top: 40px;
  }
  
  a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    width: 180px;
   
  }

  .field {
    margin-bottom: 10px;
  }

  input[type="submit"] {
    -webkit-appearance: none;
    margin-top: 10px;
  }
}


/*----------microposts/show-----------*/

.micropost_show {
  width: 750px;
  padding: 15px 10px 30px 10px;
  margin: 20px auto;
  border-top: 1px solid #d3d3d7;
  border-bottom: 1px solid #d3d3d7;
  .gravatar {
    width: 60px;
    height: 60px;
    margin-left: 0;
  }
}

.micropost_show_user_profiel {
  display: flex;
  height: 60px;
}

.micropost_show_user_name {
  margin-left: 10px;
  height: 60px;
}

.micropost_show_user_content {
  margin-left: 60px;
}

.micropost_show_delete {
    text-align: end;
    margin-right: 30px;
    a {
      color: #76a0a8;
    }
}

/*---show_follow.html-----*/

.follow-title {
  display: flex;
}

.following-title {
  width: 475px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  
  :hover {
    background-color: #c8c8cb;
  }
  a {
    display: block;
    text-decoration: none;
    color: #000;
  }
}

.follower-title {
  width: 475px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  :hover {
    background-color: #c8c8cb;
  }
  a {
    display: block;
    text-decoration: none;
    color: #000;
  }
}

.show_follow_profile {
  display: flex;
  margin-top: 30px;
  .gravatar {
    width: 60px;
    height: 60px;
  }
}



.show_follow_profile_name {
  height: 60px;
  margin-left: 20px;
  a {
    color: #000;
  }
  p {
    color: #919193;
    height: 30px;
    line-height: 30px;
  }
}

.show_follow_profile_name_followers {
  margin-top: -30px;
}


/*----------------------
　タブレット用css
-------------------------*/
// @media only screen and (max-width: 1024px) {
  
// }


/*----------------------
　スマホ用css
-------------------------*/
// @media only screen and (max-width: 599px) {

// }
